In [1]:
import pandas as pd
pd.set_option('display.max_rows', 10)

In [2]:
UNKNOWN_COUNTY_FIPS = 0
STATE_FIPS_MULTIPLIER = 1000

In [3]:
Latest_Vax_df = pd.read_csv('Covid9_7_2022.csv')
Latest_Deaths_df = pd.read_csv('us-counties-recent.csv')
Lat_Long_df = pd.read_csv('uscounties.csv')
Latest_deaths_finaldate_filter = Latest_Deaths_df["date"] == Latest_Deaths_df["date"].max()
Latest_Deaths_df = Latest_Deaths_df[Latest_deaths_finaldate_filter]

In [4]:
## Latest_vax_df data cleaning
Latest_Vax_df = Latest_Vax_df.rename(columns={"Recip_State":"ST"})

In [5]:
Latest_Vax_df.columns.values

array(['Date', 'FIPS', 'MMWR_week', 'Recip_County', 'ST',
       'Completeness_pct', 'Administered_Dose1_Recip',
       'Administered_Dose1_Pop_Pct', 'Administered_Dose1_Recip_5Plus',
       'Administered_Dose1_Recip_5PlusPop_Pct',
       'Administered_Dose1_Recip_12Plus',
       'Administered_Dose1_Recip_12PlusPop_Pct',
       'Administered_Dose1_Recip_18Plus',
       'Administered_Dose1_Recip_18PlusPop_Pct',
       'Administered_Dose1_Recip_65Plus',
       'Administered_Dose1_Recip_65PlusPop_Pct', 'Series_Complete_Yes',
       'Series_Complete_Pop_Pct', 'Series_Complete_5Plus',
       'Series_Complete_5PlusPop_Pct', 'Series_Complete_5to17',
       'Series_Complete_5to17Pop_Pct', 'Series_Complete_12Plus',
       'Series_Complete_12PlusPop_Pct', 'Series_Complete_18Plus',
       'Series_Complete_18PlusPop_Pct', 'Series_Complete_65Plus',
       'Series_Complete_65PlusPop_Pct', 'Booster_Doses',
       'Booster_Doses_Vax_Pct', 'Booster_Doses_5Plus',
       'Booster_Doses_5Plus_Vax_Pct', 'Booster_Doses_12Plus',
       'Booster_Doses_12Plus_Vax_Pct', 'Booster_Doses_18Plus',
       'Booster_Doses_18Plus_Vax_Pct', 'Booster_Doses_50Plus',
       'Booster_Doses_50Plus_Vax_Pct', 'Booster_Doses_65Plus',
       'Booster_Doses_65Plus_Vax_Pct', 'Second_Booster_50Plus',
       'Second_Booster_50Plus_Vax_Pct', 'Second_Booster_65Plus',
       'Second_Booster_65Plus_Vax_Pct', 'SVI_CTGY',
       'Series_Complete_Pop_Pct_SVI', 'Series_Complete_5PlusPop_Pct_SVI',
       'Series_Complete_5to17Pop_Pct_SVI',
       'Series_Complete_12PlusPop_Pct_SVI',
       'Series_Complete_18PlusPop_Pct_SVI',
       'Series_Complete_65PlusPop_Pct_SVI', 'Metro_status',
       'Series_Complete_Pop_Pct_UR_Equity',
       'Series_Complete_5PlusPop_Pct_UR_Equity',
       'Series_Complete_5to17Pop_Pct_UR_Equity',
       'Series_Complete_12PlusPop_Pct_UR_Equity',
       'Series_Complete_18PlusPop_Pct_UR_Equity',
       'Series_Complete_65PlusPop_Pct_UR_Equity',
       'Booster_Doses_Vax_Pct_SVI', 'Booster_Doses_12PlusVax_Pct_SVI',
       'Booster_Doses_18PlusVax_Pct_SVI',
       'Booster_Doses_65PlusVax_Pct_SVI',
       'Booster_Doses_Vax_Pct_UR_Equity',
       'Booster_Doses_12PlusVax_Pct_UR_Equity',
       'Booster_Doses_18PlusVax_Pct_UR_Equity',
       'Booster_Doses_65PlusVax_Pct_UR_Equity', 'Census2019',
       'Census2019_5PlusPop', 'Census2019_5to17Pop',
       'Census2019_12PlusPop', 'Census2019_18PlusPop',
       'Census2019_65PlusPop'], dtype=object)

In [6]:
Latest_Deaths_df.columns.values

array(['date', 'county', 'state', 'fips', 'cases', 'deaths'], dtype=object)

In [7]:
Lat_Long_df.columns.values

array(['county', 'county_ascii', 'county_full', 'county_fips', 'state_id',
       'state_name', 'lat', 'lng', 'population'], dtype=object)

In [8]:
# Latest_Deaths_df cleaning
# 1 extract the old column
Latest_Deaths_df["state"]

94427    Alabama
94428    Alabama
94429    Alabama
94430    Alabama
94431    Alabama
          ...
97681    Wyoming
97682    Wyoming
97683    Wyoming
97684    Wyoming
97685    Wyoming
Name: state, Length: 3259, dtype: object

In [9]:
# 2 create the mapping series
# 2.1 Use series constructor
States_s = pd.Series(
    Lat_Long_df["state_id"].values, index=Lat_Long_df["state_name"]).drop_duplicates()
States_s

state_name
California       CA
Illinois         IL
Texas            TX
Arizona          AZ
Florida          FL
                 ..
West Virginia    WV
North Dakota     ND
Vermont          VT
Montana          MT
Wyoming          WY
Length: 51, dtype: object

In [10]:
# 4 adjust the code to add the new column to the DataFrame
# 5 Delete the old column from the dataframe # df.drop
Latest_Deaths_df["ST"] = Latest_Deaths_df["state"].map(States_s)
Latest_Deaths_df.drop(columns="state", inplace=True)

In [11]:
Latest_Deaths_df

             date      county     fips  cases  deaths  ST
94427  2022-09-14     Autauga   1001.0  18233   226.0  AL
94428  2022-09-14     Baldwin   1003.0  65088   702.0  AL
94429  2022-09-14     Barbour   1005.0   6826   101.0  AL
94430  2022-09-14        Bibb   1007.0   7450   107.0  AL
94431  2022-09-14      Blount   1009.0  16673   254.0  AL
...           ...         ...      ...    ...     ...  ..
97681  2022-09-14  Sweetwater  56037.0  12117   130.0  WY
97682  2022-09-14       Teton  56039.0  11583    16.0  WY
97683  2022-09-14       Uinta  56041.0   6102    41.0  WY
97684  2022-09-14    Washakie  56043.0   2642    47.0  WY
97685  2022-09-14      Weston  56045.0   1812    21.0  WY

[3259 rows x 6 columns]

In [12]:
Latest_Deaths_df["fips"].isna()

94427    False
94428    False
94429    False
94430    False
94431    False
         ...
97681    False
97682    False
97683    False
97684    False
97685    False
Name: fips, Length: 3259, dtype: bool

In [13]:
latest_deaths_fipsna_filter = Latest_Deaths_df["fips"].isna()
Latest_Deaths_df[latest_deaths_fipsna_filter]

             date   county  fips  cases  deaths   ST
94490  2022-09-14  Unknown   NaN   6912    82.0   AL
94518  2022-09-14  Unknown   NaN   9111     1.0   AK
94523  2022-09-14  Unknown   NaN   8217    34.0  NaN
94609  2022-09-14  Unknown   NaN  31025     0.0   AR
94744  2022-09-14  Unknown   NaN   2849     2.0   CT
...           ...      ...   ...    ...     ...  ...
96839  2022-09-14  Unknown   NaN  32840  5053.0  NaN
96851  2022-09-14  Unknown   NaN  28772     3.0   RI
97052  2022-09-14  Unknown   NaN  22654   270.0   TN
97340  2022-09-14  Unknown   NaN   4972   103.0   UT
97357  2022-09-14  Unknown   NaN   2425     5.0   VT

[39 rows x 6 columns]

In [14]:
Latest_Deaths_df[latest_deaths_fipsna_filter]["deaths"].sum()

53610.0

In [15]:
Latest_Deaths_df["deaths"].sum()

1048238.0

In [16]:
Latest_Deaths_df[latest_deaths_fipsna_filter]["deaths"].sum() / Latest_Deaths_df["deaths"].sum()

0.051142965624218925

In [17]:
Latest_Deaths_df.head()

             date   county    fips  cases  deaths  ST
94427  2022-09-14  Autauga  1001.0  18233   226.0  AL
94428  2022-09-14  Baldwin  1003.0  65088   702.0  AL
94429  2022-09-14  Barbour  1005.0   6826   101.0  AL
94430  2022-09-14     Bibb  1007.0   7450   107.0  AL
94431  2022-09-14   Blount  1009.0  16673   254.0  AL

In [18]:
Latest_Deaths_df.groupby("ST").max()

          date                     county     fips    cases   deaths
ST
AK  2022-09-14  Yukon-Koyukuk Census Area   2998.0   119541    557.0
AL  2022-09-14                    Winston   1133.0   216936   2437.0
AR  2022-09-14                       Yell   5149.0   119986   1237.0
AZ  2022-09-14                       Yuma   4027.0  1421340  17865.0
CA  2022-09-14                       Yuba   6115.0  3434458  33414.0
..         ...                        ...      ...      ...      ...
VT  2022-09-14                    Windsor  50027.0    37518    188.0
WA  2022-09-14                     Yakima  53077.0   510571   3145.0
WI  2022-09-14                       Wood  55141.0   314051   2368.0
WV  2022-09-14                    Wyoming  54109.0    55341    791.0
WY  2022-09-14                     Weston  56045.0    29887    305.0

[51 rows x 5 columns]

In [19]:
Latest_Vax_df.groupby("ST")["FIPS"].min()

ST
AK     2013
AL     1001
AR     5001
AZ     4001
CA     6001
      ...
VT    50001
WA    53001
WI    55001
WV    54001
WY    56001
Name: FIPS, Length: 54, dtype: int64

In [20]:
State_FIPS_min_series = Latest_Vax_df.groupby("ST")["FIPS"].min()

In [21]:
State_FIPS_min_series.astype(str)

ST
AK     2013
AL     1001
AR     5001
AZ     4001
CA     6001
      ...
VT    50001
WA    53001
WI    55001
WV    54001
WY    56001
Name: FIPS, Length: 54, dtype: object

In [22]:
def get_state_fips(county_fips):
    county_fips_string = str(county_fips)
    state_fips_string = county_fips_string[:-3]
    state_fips_int = int(state_fips_string)
    return state_fips_int

In [23]:
state_fips_int_series = State_FIPS_min_series.apply(get_state_fips)

In [24]:
state_fips_int_series

ST
AK     2
AL     1
AR     5
AZ     4
CA     6
      ..
VT    50
WA    53
WI    55
WV    54
WY    56
Name: FIPS, Length: 54, dtype: int64

In [25]:
Lat_Long_df

,county,county_ascii,county_full,county_fips,state_id,state_name,lat,lng,population
0,Los Angeles,Los Angeles,Los Angeles County,6037,CA,California,34.3209,-118.2247,10040682
1,Cook,Cook,Cook County,17031,IL,Illinois,41.8401,-87.8168,5169517
2,Harris,Harris,Harris County,48201,TX,Texas,29.8578,-95.3936,4680609
3,Maricopa,Maricopa,Maricopa County,4013,AZ,Arizona,33.3490,-112.4915,4412779
4,San Diego,San Diego,San Diego County,6073,CA,California,33.0343,-116.7350,3323970
...,...,...,...,...,...,...,...,...,...
3138,Harding,Harding,Harding County,35021,NM,New Mexico,35.8579,-103.8202,432
3139,McPherson,McPherson,McPherson County,31117,NE,Nebraska,41.5682,-101.0604,420
3140,Kenedy,Kenedy,Kenedy County,48261,TX,Texas,26.9285,-97.7017,391
3141,King,King,King County,48269,TX,Texas,33.6165,-100.2558,279
3142,Loving,Loving,Loving County,48301,TX,Texas,31.8493,-103.5800,117

In [26]:
# Renaming "state_id" to "ST" and "county_fips" to "fips" to be consistent with other datasets
Lat_Long_df = Lat_Long_df.rename(columns={"state_id":"ST", "county_fips":"fips"})
Lat_Long_df

,county,county_ascii,county_full,fips,ST,state_name,lat,lng,population
0,Los Angeles,Los Angeles,Los Angeles County,6037,CA,California,34.3209,-118.2247,10040682
1,Cook,Cook,Cook County,17031,IL,Illinois,41.8401,-87.8168,5169517
2,Harris,Harris,Harris County,48201,TX,Texas,29.8578,-95.3936,4680609
3,Maricopa,Maricopa,Maricopa County,4013,AZ,Arizona,33.3490,-112.4915,4412779
4,San Diego,San Diego,San Diego County,6073,CA,California,33.0343,-116.7350,3323970
...,...,...,...,...,...,...,...,...,...
3138,Harding,Harding,Harding County,35021,NM,New Mexico,35.8579,-103.8202,432
3139,McPherson,McPherson,McPherson County,31117,NE,Nebraska,41.5682,-101.0604,420
3140,Kenedy,Kenedy,Kenedy County,48261,TX,Texas,26.9285,-97.7017,391
3141,King,King,King County,48269,TX,Texas,33.6165,-100.2558,279
3142,Loving,Loving,Loving County,48301,TX,Texas,31.8493,-103.5800,117

In [27]:
Latest_Vax_df[["FIPS", "Completeness_pct", "Series_Complete_Pop_Pct"]]

       FIPS  Completeness_pct  Series_Complete_Pop_Pct
0      1001              92.5                     45.1
1      1003              92.5                     52.2
2      1005              92.5                     46.7
3      1007              92.5                     35.8
4      1009              92.5                     32.4
...     ...               ...                      ...
3219  72151              97.3                     77.4
3220  72153              97.3                     89.1
3221  78010              86.9                      NaN
3222  78020              86.9                      NaN
3223  78030              86.9                      NaN

[3224 rows x 3 columns]

In [28]:
# There are 19 counties without a percent vaccinated figure
Latest_Vax_df[Latest_Vax_df['Series_Complete_Pop_Pct'].isna()]

,Date,FIPS,MMWR_week,Recip_County,ST,Completeness_pct,Administered_Dose1_Recip,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_5Plus,Administered_Dose1_Recip_5PlusPop_Pct,...,Booster_Doses_Vax_Pct_UR_Equity,Booster_Doses_12PlusVax_Pct_UR_Equity,Booster_Doses_18PlusVax_Pct_UR_Equity,Booster_Doses_65PlusVax_Pct_UR_Equity,Census2019,Census2019_5PlusPop,Census2019_5to17Pop,Census2019_12PlusPop,Census2019_18PlusPop,Census2019_65PlusPop
187,9/7/2022,6003,36,Alpine County,CA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1129.0,1080.0,151.0,1013.0,929.0,298.0
199,9/7/2022,6027,36,Inyo County,CA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18039.0,17041.0,2729.0,15521.0,14312.0,4228.0
207,9/7/2022,6043,36,Mariposa County,CA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,17203.0,16474.0,2049.0,15399.0,14425.0,4974.0
210,9/7/2022,6049,36,Modoc County,CA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8841.0,8416.0,1294.0,7730.0,7122.0,2431.0
211,9/7/2022,6051,36,Mono County,CA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,14444.0,13757.0,1882.0,12770.0,11875.0,2330.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1220,9/7/2022,25007,36,Dukes County,MA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,17332.0,16489.0,2242.0,15293.0,14247.0,4346.0
1226,9/7/2022,25019,36,Nantucket County,MA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11399.0,10647.0,1618.0,9755.0,9029.0,1692.0
3221,9/7/2022,78010,36,St. Croix Island,VI,86.9,27943.0,NaN,27899.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3222,9/7/2022,78020,36,St. John Island,VI,86.9,3935.0,NaN,3934.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3223,9/7/2022,78030,36,St. Thomas Island,VI,86.9,31046.0,NaN,31027.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Dropped those 19 rows
Latest_Vax_complete_df = Latest_Vax_df.dropna(subset=['Series_Complete_Pop_Pct'])
Latest_Vax_complete_df

,Date,FIPS,MMWR_week,Recip_County,ST,Completeness_pct,Administered_Dose1_Recip,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_5Plus,Administered_Dose1_Recip_5PlusPop_Pct,...,Booster_Doses_Vax_Pct_UR_Equity,Booster_Doses_12PlusVax_Pct_UR_Equity,Booster_Doses_18PlusVax_Pct_UR_Equity,Booster_Doses_65PlusVax_Pct_UR_Equity,Census2019,Census2019_5PlusPop,Census2019_5to17Pop,Census2019_12PlusPop,Census2019_18PlusPop,Census2019_65PlusPop
0,9/7/2022,1001,36,Autauga County,AL,92.5,31825.0,57.0,31798.0,60.5,...,2.0,2.0,2.0,2.0,55869.0,52592.0,9688.0,47574.0,42904.0,8924.0
1,9/7/2022,1003,36,Baldwin County,AL,92.5,146676.0,65.7,146508.0,69.4,...,2.0,2.0,2.0,2.0,223234.0,211195.0,35515.0,192649.0,175680.0,46830.0
2,9/7/2022,1005,36,Barbour County,AL,92.5,14042.0,56.9,14030.0,60.0,...,6.0,6.0,6.0,6.0,24686.0,23377.0,3773.0,21404.0,19604.0,4861.0
3,9/7/2022,1007,36,Bibb County,AL,92.5,9672.0,43.2,9658.0,45.7,...,2.0,2.0,3.0,2.0,22394.0,21148.0,3311.0,19480.0,17837.0,3733.0
4,9/7/2022,1009,36,Blount County,AL,92.5,22645.0,39.2,22636.0,41.6,...,2.0,2.0,2.0,2.0,57826.0,54388.0,9817.0,49234.0,44571.0,10814.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,9/7/2022,72145,36,Vega Baja Municipio,PR,97.3,50500.0,95.0,50430.0,95.0,...,4.0,4.0,4.0,3.0,50023.0,48014.0,7027.0,44613.0,40987.0,10563.0
3217,9/7/2022,72147,36,Vieques Municipio,PR,97.3,8130.0,95.0,8099.0,95.0,...,8.0,8.0,8.0,7.0,8386.0,8055.0,1211.0,7479.0,6844.0,1895.0
3218,9/7/2022,72149,36,Villalba Municipio,PR,97.3,20978.0,95.0,20910.0,95.0,...,4.0,4.0,4.0,4.0,21372.0,20419.0,3299.0,19061.0,17120.0,3980.0
3219,9/7/2022,72151,36,Yabucoa Municipio,PR,97.3,28112.0,87.1,28068.0,89.9,...,4.0,4.0,4.0,3.0,32282.0,31208.0,4554.0,28791.0,26654.0,7163.0
3220,9/7/2022,72153,36,Yauco Municipio,PR,97.3,33522.0,95.0,33480.0,95.0,...,4.0,4.0,4.0,3.0,33575.0,32383.0,4658.0,29944.0,27725.0,7802.0

In [30]:
# Renaming "FIPS" to "fips" to be consistent with other datasets
Latest_Vax_complete_df = Latest_Vax_complete_df.rename(columns={"FIPS":"fips"})
Latest_Vax_complete_df

,Date,fips,MMWR_week,Recip_County,ST,Completeness_pct,Administered_Dose1_Recip,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_5Plus,Administered_Dose1_Recip_5PlusPop_Pct,...,Booster_Doses_Vax_Pct_UR_Equity,Booster_Doses_12PlusVax_Pct_UR_Equity,Booster_Doses_18PlusVax_Pct_UR_Equity,Booster_Doses_65PlusVax_Pct_UR_Equity,Census2019,Census2019_5PlusPop,Census2019_5to17Pop,Census2019_12PlusPop,Census2019_18PlusPop,Census2019_65PlusPop
0,9/7/2022,1001,36,Autauga County,AL,92.5,31825.0,57.0,31798.0,60.5,...,2.0,2.0,2.0,2.0,55869.0,52592.0,9688.0,47574.0,42904.0,8924.0
1,9/7/2022,1003,36,Baldwin County,AL,92.5,146676.0,65.7,146508.0,69.4,...,2.0,2.0,2.0,2.0,223234.0,211195.0,35515.0,192649.0,175680.0,46830.0
2,9/7/2022,1005,36,Barbour County,AL,92.5,14042.0,56.9,14030.0,60.0,...,6.0,6.0,6.0,6.0,24686.0,23377.0,3773.0,21404.0,19604.0,4861.0
3,9/7/2022,1007,36,Bibb County,AL,92.5,9672.0,43.2,9658.0,45.7,...,2.0,2.0,3.0,2.0,22394.0,21148.0,3311.0,19480.0,17837.0,3733.0
4,9/7/2022,1009,36,Blount County,AL,92.5,22645.0,39.2,22636.0,41.6,...,2.0,2.0,2.0,2.0,57826.0,54388.0,9817.0,49234.0,44571.0,10814.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,9/7/2022,72145,36,Vega Baja Municipio,PR,97.3,50500.0,95.0,50430.0,95.0,...,4.0,4.0,4.0,3.0,50023.0,48014.0,7027.0,44613.0,40987.0,10563.0
3217,9/7/2022,72147,36,Vieques Municipio,PR,97.3,8130.0,95.0,8099.0,95.0,...,8.0,8.0,8.0,7.0,8386.0,8055.0,1211.0,7479.0,6844.0,1895.0
3218,9/7/2022,72149,36,Villalba Municipio,PR,97.3,20978.0,95.0,20910.0,95.0,...,4.0,4.0,4.0,4.0,21372.0,20419.0,3299.0,19061.0,17120.0,3980.0
3219,9/7/2022,72151,36,Yabucoa Municipio,PR,97.3,28112.0,87.1,28068.0,89.9,...,4.0,4.0,4.0,3.0,32282.0,31208.0,4554.0,28791.0,26654.0,7163.0
3220,9/7/2022,72153,36,Yauco Municipio,PR,97.3,33522.0,95.0,33480.0,95.0,...,4.0,4.0,4.0,3.0,33575.0,32383.0,4658.0,29944.0,27725.0,7802.0

In [31]:
Latest_Deaths_df

             date      county     fips  cases  deaths  ST
94427  2022-09-14     Autauga   1001.0  18233   226.0  AL
94428  2022-09-14     Baldwin   1003.0  65088   702.0  AL
94429  2022-09-14     Barbour   1005.0   6826   101.0  AL
94430  2022-09-14        Bibb   1007.0   7450   107.0  AL
94431  2022-09-14      Blount   1009.0  16673   254.0  AL
...           ...         ...      ...    ...     ...  ..
97681  2022-09-14  Sweetwater  56037.0  12117   130.0  WY
97682  2022-09-14       Teton  56039.0  11583    16.0  WY
97683  2022-09-14       Uinta  56041.0   6102    41.0  WY
97684  2022-09-14    Washakie  56043.0   2642    47.0  WY
97685  2022-09-14      Weston  56045.0   1812    21.0  WY

[3259 rows x 6 columns]

In [32]:
Latest_Deaths_df["fips"].isna().sum()

39

In [33]:
Latest_Vax_df.dtypes

Date                     object
FIPS                      int64
MMWR_week                 int64
Recip_County             object
ST                       object
                         ...
Census2019_5PlusPop     float64
Census2019_5to17Pop     float64
Census2019_12PlusPop    float64
Census2019_18PlusPop    float64
Census2019_65PlusPop    float64
Length: 72, dtype: object

In [34]:
state_fips_int_series

ST
AK     2
AL     1
AR     5
AZ     4
CA     6
      ..
VT    50
WA    53
WI    55
WV    54
WY    56
Name: FIPS, Length: 54, dtype: int64

In [35]:
state_fips_int_series["WI"]

55

In [36]:
state_fips_int_series["WI"] * STATE_FIPS_MULTIPLIER

55000

In [37]:
def get_unknown_fips(state_abbr):
    county_code = UNKNOWN_COUNTY_FIPS
    state_code = state_fips_int_series[state_abbr] 
    fips_code = (state_code * STATE_FIPS_MULTIPLIER) + county_code
    return fips_code

In [38]:
# take deaths_df
Latest_Deaths_df["fips"].isna()

94427    False
94428    False
94429    False
94430    False
94431    False
         ...
97681    False
97682    False
97683    False
97684    False
97685    False
Name: fips, Length: 3259, dtype: bool

In [39]:
death_nan_filter = Latest_Deaths_df["fips"].isna()
Latest_Deaths_df[death_nan_filter]

             date   county  fips  cases  deaths   ST
94490  2022-09-14  Unknown   NaN   6912    82.0   AL
94518  2022-09-14  Unknown   NaN   9111     1.0   AK
94523  2022-09-14  Unknown   NaN   8217    34.0  NaN
94609  2022-09-14  Unknown   NaN  31025     0.0   AR
94744  2022-09-14  Unknown   NaN   2849     2.0   CT
...           ...      ...   ...    ...     ...  ...
96839  2022-09-14  Unknown   NaN  32840  5053.0  NaN
96851  2022-09-14  Unknown   NaN  28772     3.0   RI
97052  2022-09-14  Unknown   NaN  22654   270.0   TN
97340  2022-09-14  Unknown   NaN   4972   103.0   UT
97357  2022-09-14  Unknown   NaN   2425     5.0   VT

[39 rows x 6 columns]

In [40]:
Latest_deaths_dropnofips_df = Latest_Deaths_df.dropna(subset=['fips'])
Latest_deaths_dropnofips_df

             date      county     fips  cases  deaths  ST
94427  2022-09-14     Autauga   1001.0  18233   226.0  AL
94428  2022-09-14     Baldwin   1003.0  65088   702.0  AL
94429  2022-09-14     Barbour   1005.0   6826   101.0  AL
94430  2022-09-14        Bibb   1007.0   7450   107.0  AL
94431  2022-09-14      Blount   1009.0  16673   254.0  AL
...           ...         ...      ...    ...     ...  ..
97681  2022-09-14  Sweetwater  56037.0  12117   130.0  WY
97682  2022-09-14       Teton  56039.0  11583    16.0  WY
97683  2022-09-14       Uinta  56041.0   6102    41.0  WY
97684  2022-09-14    Washakie  56043.0   2642    47.0  WY
97685  2022-09-14      Weston  56045.0   1812    21.0  WY

[3220 rows x 6 columns]

In [41]:
Latest_deaths_dropnofips_df['fips'] = Latest_deaths_dropnofips_df['fips'].astype(int)
Latest_deaths_dropnofips_df

C:\Users\josep\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

             date      county   fips  cases  deaths  ST
94427  2022-09-14     Autauga   1001  18233   226.0  AL
94428  2022-09-14     Baldwin   1003  65088   702.0  AL
94429  2022-09-14     Barbour   1005   6826   101.0  AL
94430  2022-09-14        Bibb   1007   7450   107.0  AL
94431  2022-09-14      Blount   1009  16673   254.0  AL
...           ...         ...    ...    ...     ...  ..
97681  2022-09-14  Sweetwater  56037  12117   130.0  WY
97682  2022-09-14       Teton  56039  11583    16.0  WY
97683  2022-09-14       Uinta  56041   6102    41.0  WY
97684  2022-09-14    Washakie  56043   2642    47.0  WY
97685  2022-09-14      Weston  56045   1812    21.0  WY

[3220 rows x 6 columns]

In [42]:
Latest_Vax_final_df = Latest_Vax_complete_df[["fips","Recip_County","ST","Series_Complete_Pop_Pct"]]
Latest_Vax_final_df

       fips         Recip_County  ST  Series_Complete_Pop_Pct
0      1001       Autauga County  AL                     45.1
1      1003       Baldwin County  AL                     52.2
2      1005       Barbour County  AL                     46.7
3      1007          Bibb County  AL                     35.8
4      1009        Blount County  AL                     32.4
...     ...                  ...  ..                      ...
3216  72145  Vega Baja Municipio  PR                     86.4
3217  72147    Vieques Municipio  PR                     87.5
3218  72149   Villalba Municipio  PR                     91.3
3219  72151    Yabucoa Municipio  PR                     77.4
3220  72153      Yauco Municipio  PR                     89.1

[3205 rows x 4 columns]

In [43]:
Lat_Long_final_df = Lat_Long_df[["county","fips","ST","lat","lng","population"]]
Lat_Long_final_df

           county   fips  ST      lat       lng  population
0     Los Angeles   6037  CA  34.3209 -118.2247    10040682
1            Cook  17031  IL  41.8401  -87.8168     5169517
2          Harris  48201  TX  29.8578  -95.3936     4680609
3        Maricopa   4013  AZ  33.3490 -112.4915     4412779
4       San Diego   6073  CA  33.0343 -116.7350     3323970
...           ...    ...  ..      ...       ...         ...
3138      Harding  35021  NM  35.8579 -103.8202         432
3139    McPherson  31117  NE  41.5682 -101.0604         420
3140       Kenedy  48261  TX  26.9285  -97.7017         391
3141         King  48269  TX  33.6165 -100.2558         279
3142       Loving  48301  TX  31.8493 -103.5800         117

[3143 rows x 6 columns]

In [ ]:
coord_vax_df = Lat_Long_final_df.merge(Latest_Vax_final_df, how="left")
coord_vax_df

In [ ]:
coord_vax_deaths_df = coord_vax_df.merge(Latest_deaths_dropnofips_df, how="left")
coord_vax_deaths_df

In [46]:
coord_vax_deaths_df.isna().sum()

county                      0
fips                        0
ST                          0
lat                         0
lng                         0
                           ..
Recip_County               18
Series_Complete_Pop_Pct    18
date                       74
cases                      74
deaths                     74
Length: 11, dtype: int64

In [47]:
no_vax_filter = coord_vax_deaths_df["Series_Complete_Pop_Pct"].isna()
coord_vax_deaths_df[no_vax_filter]

,county,fips,ST,lat,lng,population,Recip_County,Series_Complete_Pop_Pct,date,cases,deaths
47,Honolulu,15003,HI,21.5008,-158.1053,979682,NaN,NaN,2022-09-14,237183.0,1235.0
313,Barnstable,25001,MA,41.7244,-70.2904,213505,NaN,NaN,2022-09-14,43309.0,653.0
333,Hawaii,15001,HI,19.5985,-155.5185,201350,NaN,NaN,2022-09-14,38213.0,216.0
392,Maui,15009,HI,20.8596,-156.5649,166657,NaN,NaN,2022-09-14,40936.0,157.0
751,Kauai,15007,HI,22.0398,-159.5966,71949,NaN,NaN,2022-09-14,17214.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...
2707,Chugach,2063,AK,60.7228,-145.7754,6495,NaN,NaN,NaN,NaN,NaN
2972,Sierra,6091,CA,39.5804,-120.5161,2898,NaN,NaN,2022-09-14,363.0,5.0
2974,Copper River,2066,AK,61.8834,-143.9680,2894,NaN,NaN,NaN,NaN,NaN
3101,Alpine,6003,CA,38.5972,-119.8207,1159,NaN,NaN,2022-09-14,135.0,0.0
3137,Kalawao,15005,HI,21.1709,-156.9475,436,NaN,NaN,2022-09-14,1.0,0.0

In [48]:
coord_vax_deaths_df = coord_vax_deaths_df.dropna(subset=['Series_Complete_Pop_Pct'])
coord_vax_deaths_df = coord_vax_deaths_df.dropna(subset=['cases'])
coord_vax_deaths_df

,county,fips,ST,lat,lng,population,Recip_County,Series_Complete_Pop_Pct,date,cases,deaths
0,Los Angeles,6037,CA,34.3209,-118.2247,10040682,Los Angeles County,73.6,2022-09-14,3434458.0,33414.0
1,Cook,17031,IL,41.8401,-87.8168,5169517,Cook County,73.7,2022-09-14,1392834.0,15312.0
2,Harris,48201,TX,29.8578,-95.3936,4680609,Harris County,64.7,2022-09-14,1208024.0,11270.0
3,Maricopa,4013,AZ,33.3490,-112.4915,4412779,Maricopa County,58.8,2022-09-14,1421340.0,17865.0
4,San Diego,6073,CA,33.0343,-116.7350,3323970,San Diego County,77.9,2022-09-14,986208.0,5474.0
...,...,...,...,...,...,...,...,...,...,...,...
3138,Harding,35021,NM,35.8579,-103.8202,432,Harding County,60.3,2022-09-14,94.0,4.0
3139,McPherson,31117,NE,41.5682,-101.0604,420,McPherson County,14.8,2022-09-14,74.0,1.0
3140,Kenedy,48261,TX,26.9285,-97.7017,391,Kenedy County,54.0,2022-09-14,97.0,2.0
3141,King,48269,TX,33.6165,-100.2558,279,King County,21.3,2022-09-14,53.0,0.0
3142,Loving,48301,TX,31.8493,-103.5800,117,Loving County,18.3,2022-09-14,334.0,1.0

In [55]:
coord_vax_deaths_df.to_csv("all_data_merged.csv")

In [57]:
econ_df = pd.read_csv('unemplymentmedianincome.csv')
econ_df

,FIPS_code,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Civilian_labor_force_2021,Employed_2021,Unemployed_2021,Unemployment_rate_2021,Median_Household_Income_2020,Med_HH_Income_Percent_of_State_Total_2020
0,0,US,United States,NaN,NaN,NaN,"142,601,576","136,904,853","5,696,723",4.0,...,"161,207,103","148,183,367","13,023,736",8.1,"161,758,337","153,099,687","8,658,650",5.4,"67,340",NaN
1,1000,AL,Alabama,NaN,NaN,NaN,"2,147,173","2,047,731","99,442",4.6,...,"2,268,309","2,121,149","147,160",6.5,"2,246,993","2,169,721","77,272",3.4,"53,958",100.0
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,"21,861","20,971",890,4.1,...,"26,405","24,985","1,420",5.4,"26,341","25,599",742,2.8,"67,565",125.2
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,"69,979","67,370","2,609",3.7,...,"98,910","92,751","6,159",6.2,"99,427","96,481","2,946",3.0,"71,135",131.8
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,"11,449","10,812",637,5.6,...,"8,680","8,004",676,7.8,"8,197","7,728",469,5.7,"38,866",72.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3193,56037,WY,"Sweetwater County, WY",5.0,8.0,0.0,"20,623","19,822",801,3.9,...,"20,503","18,998","1,505",7.3,"19,449","18,360","1,089",5.6,"70,583",104.9
3194,56039,WY,"Teton County, WY",7.0,8.0,0.0,"14,126","13,791",335,2.4,...,"15,138","14,251",887,5.9,"15,886","15,375",511,3.2,"92,488",137.5
3195,56041,WY,"Uinta County, WY",7.0,8.0,0.0,"10,414","10,004",410,3.9,...,"9,102","8,532",570,6.3,"8,832","8,389",443,5.0,"71,246",105.9
3196,56043,WY,"Washakie County, WY",7.0,11.0,0.0,"4,287","4,093",194,4.5,...,"3,945","3,739",206,5.2,"3,978","3,819",159,4.0,"58,532",87.0
3197,56045,WY,"Weston County, WY",7.0,9.0,0.0,"3,284","3,147",137,4.2,...,"3,789","3,645",144,3.8,"3,741","3,622",119,3.2,"58,901",87.5

In [64]:
econ_df = econ_df.rename(columns={"FIPS_code":"fips","State":"ST"})
econ_df

,fips,ST,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Civilian_labor_force_2021,Employed_2021,Unemployed_2021,Unemployment_rate_2021,Median_Household_Income_2020,Med_HH_Income_Percent_of_State_Total_2020
0,0,US,United States,NaN,NaN,NaN,"142,601,576","136,904,853","5,696,723",4.0,...,"161,207,103","148,183,367","13,023,736",8.1,"161,758,337","153,099,687","8,658,650",5.4,"67,340",NaN
1,1000,AL,Alabama,NaN,NaN,NaN,"2,147,173","2,047,731","99,442",4.6,...,"2,268,309","2,121,149","147,160",6.5,"2,246,993","2,169,721","77,272",3.4,"53,958",100.0
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,"21,861","20,971",890,4.1,...,"26,405","24,985","1,420",5.4,"26,341","25,599",742,2.8,"67,565",125.2
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,"69,979","67,370","2,609",3.7,...,"98,910","92,751","6,159",6.2,"99,427","96,481","2,946",3.0,"71,135",131.8
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,"11,449","10,812",637,5.6,...,"8,680","8,004",676,7.8,"8,197","7,728",469,5.7,"38,866",72.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3193,56037,WY,"Sweetwater County, WY",5.0,8.0,0.0,"20,623","19,822",801,3.9,...,"20,503","18,998","1,505",7.3,"19,449","18,360","1,089",5.6,"70,583",104.9
3194,56039,WY,"Teton County, WY",7.0,8.0,0.0,"14,126","13,791",335,2.4,...,"15,138","14,251",887,5.9,"15,886","15,375",511,3.2,"92,488",137.5
3195,56041,WY,"Uinta County, WY",7.0,8.0,0.0,"10,414","10,004",410,3.9,...,"9,102","8,532",570,6.3,"8,832","8,389",443,5.0,"71,246",105.9
3196,56043,WY,"Washakie County, WY",7.0,11.0,0.0,"4,287","4,093",194,4.5,...,"3,945","3,739",206,5.2,"3,978","3,819",159,4.0,"58,532",87.0
3197,56045,WY,"Weston County, WY",7.0,9.0,0.0,"3,284","3,147",137,4.2,...,"3,789","3,645",144,3.8,"3,741","3,622",119,3.2,"58,901",87.5

In [66]:
econ_df = econ_df[["fips","ST","Unemployment_rate_2021","Median_Household_Income_2020"]]
econ_df

       fips  ST  Unemployment_rate_2021 Median_Household_Income_2020
0         0  US                     5.4                       67,340
1      1000  AL                     3.4                       53,958
2      1001  AL                     2.8                       67,565
3      1003  AL                     3.0                       71,135
4      1005  AL                     5.7                       38,866
...     ...  ..                     ...                          ...
3193  56037  WY                     5.6                       70,583
3194  56039  WY                     3.2                       92,488
3195  56041  WY                     5.0                       71,246
3196  56043  WY                     4.0                       58,532
3197  56045  WY                     3.2                       58,901

[3198 rows x 4 columns]

In [67]:
coord_vax_deaths_econ_df = coord_vax_deaths_df.merge(econ_df, how="left")
coord_vax_deaths_econ_df

,county,fips,ST,lat,lng,population,Recip_County,Series_Complete_Pop_Pct,date,cases,deaths,Unemployment_rate_2021,Median_Household_Income_2020
0,Los Angeles,6037,CA,34.3209,-118.2247,10040682,Los Angeles County,73.6,2022-09-14,3434458.0,33414.0,8.9,"75,624"
1,Cook,17031,IL,41.8401,-87.8168,5169517,Cook County,73.7,2022-09-14,1392834.0,15312.0,7.0,"71,611"
2,Harris,48201,TX,29.8578,-95.3936,4680609,Harris County,64.7,2022-09-14,1208024.0,11270.0,6.5,"61,906"
3,Maricopa,4013,AZ,33.3490,-112.4915,4412779,Maricopa County,58.8,2022-09-14,1421340.0,17865.0,4.5,"71,799"
4,San Diego,6073,CA,33.0343,-116.7350,3323970,San Diego County,77.9,2022-09-14,986208.0,5474.0,6.5,"87,126"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3048,Harding,35021,NM,35.8579,-103.8202,432,Harding County,60.3,2022-09-14,94.0,4.0,4.6,"39,913"
3049,McPherson,31117,NE,41.5682,-101.0604,420,McPherson County,14.8,2022-09-14,74.0,1.0,1.6,"54,876"
3050,Kenedy,48261,TX,26.9285,-97.7017,391,Kenedy County,54.0,2022-09-14,97.0,2.0,6.0,"45,980"
3051,King,48269,TX,33.6165,-100.2558,279,King County,21.3,2022-09-14,53.0,0.0,0.9,"78,210"
3052,Loving,48301,TX,31.8493,-103.5800,117,Loving County,18.3,2022-09-14,334.0,1.0,0.9,"97,491"

In [68]:
coord_vax_deaths_econ_df.isna().sum()

county                          0
fips                            0
ST                              0
lat                             0
lng                             0
                               ..
date                            0
cases                           0
deaths                          0
Unemployment_rate_2021          0
Median_Household_Income_2020    0
Length: 13, dtype: int64

In [70]:
coord_vax_deaths_econ_df.to_csv("all_data_merged.csv")